* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

#mainBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

#currencyContainer {
    width: 150px;
    height: 200px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    overflow-y: auto;
}

#currencyContainer p{
    font-size: 20px;
}

.stat {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}